.animated-heading {
    font-size: 3.9rem;
    display: inline-block;
    position: relative;
    perspective: 1000px;
}

.animated-heading span {
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.2, 0.65, 0.2, 1);
}

.animated-heading:hover span {
    transform: rotateY(360deg);
}
